.classutama{
    height: auto;
    background-image: url("../image/077584035cd72b756dadeb35888041e3.jpg");
    padding: 0px;
}

#username {
    color: #ffffff;
    font-size: 14px;
    margin: 40px 0;
}

#title {
    color: #ffffff;
    font-size: 20px;
}

.classutama2{
    display: flex;
    justify-content: center;
}
.classutama3{
    background-color: green;
}
.classutama2-namauser{
    height: 30px;
    color: white;
}
.classutama2-judul{
    height: 50px;
    color: white;
}
.classutama2-judul h1{
    font-size: 25px;
}
.btn {
    margin-top: 10px;
}

.classutama2-form{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.classutama2-form img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.bar-code-container {
    background-color: #6BF060;
    width: 300px;
    height: 300px;
    position: relative;
}

.border {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.border img {
    width: 100%;
}

#data-totebag {
    background-color: #ffffff;
    margin: 20px;
    border-radius: 3px;
}

#data-totebag table {
    box-sizing: border-box;
}
