.classutama{
    height: 700px;
    background-color: aquamarine;
    padding: 0px;
}
.classutama2{
    height: 550px;
    background-color: bisque;
}
.classutama3{
    height: 150px;
    background-color: cadetblue;
}
.classutama2-namauser{
    height: 30px;
    background-color: orange;
}
.classutama2-judul{
    height: 50px;
    background-color:white;
}
.classutama2-judul h1{
    font-size: 25px;
}
.btn {
    margin-top: 10px;
}